.test1{
    border : 1px solid red;
}
.test2{
    border : 1px solid green;
}
.test3{
    border: 1px solid blue;
}
:root{
    --base-width : 1440px;
}
.navbar-custom{
    height: 144px;
}

.img-cons {
    /* Tinggi elemen */
 /* Gambar latar */
    background-size: auto 100%; /* Gambar memenuhi tinggi elemen dengan rasio asli */
    background-repeat: no-repeat; /* Tidak mengulang gambar */
    background-position: center; /* Awalnya gambar berada di tengah */
    overflow: hidden; /* Area di luar elemen disembunyikan */
    cursor: grab; /* Ikon tangan untuk interaksi */
    
  }
/* CSS untuk menyembunyikan scrollbar */
.cstm-scroll {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
  }
  
  .cstm-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  .py-base{
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .py-base-half{
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .px-base{
    padding-bottom: 40px;
    padding-top: 40px;
  }